.skill-container {
    display: flex;
    justify-content: space-between;
}

.skill {
    animation: animP 2ms ease-in-out infinite;
    transition: all 0.5s ease-in-out;
    text-align: center;
    width: 200px;
}

.skill:hover {
    transform: scale(0.95);
}

.skill-name {
    font-weight: bold;
    margin: 10px;
}

@keyframes animP {
    0% {
        transform: translateY(1px) scale(0.95);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: translateY(1px) scale(0.95);
    }
}

.skill-level {
    font-size: 24px;
    margin-bottom: 15px;
}

.progress-bar {
    width: 100px;
    height: 20px;
    background-color: #333;
    border-radius: 5px;
    margin: 0 auto;
}

.progress-bar-fill {
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
}

@media(max-width: 760px) {
    .skill-container {
        display: block;
        width: 100%;
        height: 100%;
    }

    .progress-bar,
    .progress-bar-fill {
        width: 100%;
    }
}