* {
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    letter-spacing: 0.5px;
    font-family: sans-serif;
}

:root {
    --bg-color: #fff;
    --snd-bg-color: #d5fdf9;
    --text-color: #000;
    --main-color: #007f73;
}

@keyframes rotateYs {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* header code  */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background: var(--main-color);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}

.logo {
    /* animation: backG 60s ease infinite; */
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo img {
    /* var(--bg-color) goldenrod*/
    padding: 3px;
    border: 5px double var(--bg-color);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    animation: rotateYs 3s ease-in-out infinite;
    box-shadow: 0px 0px 15px var(--bg-color);
}

.logo:hover {
    transform: scale(1.05);
}

.navbar a {
    font-size: 1.9rem;
    color: var(--bg-color);
    margin-left: 4rem;
    font-weight: 700;
    transition: 0.3s linear;
}

.navbar a:hover,
.navbar a.active {
    border-bottom: 3px solid var(--bg-color);
    color: var(--text-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
}

/* Home section code */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 35px var(--main-color),
        0 0 45px var(--main-color);
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.5rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content {
    margin-left: 5rem;
}

.home-content h3 {
    font-size: 3.7rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.8rem;
}

.social-media>a {
    width: 40px;
    height: 40px;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    background: transparent;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.social-media a>svg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background: transparent;
    font-size: 2rem;
    color: var(--main-color);
    padding: 0.3rem;
    transition: 0.3s ease;
    fill: #000000;
}

.social-media a svg:hover {
    transform: scale(1.1);
    fill: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    box-shadow: none;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover {
    transform: scale(1.01);
    box-shadow: 0 0 1.6rem var(--main-color);
}

/* About code */
.skill-container {
    width: 100%;
    display: block;
    justify-content: space-between;
}

.skill {
    animation: animP 2ms ease-in-out infinite;
    transition: all 0.5s ease-in-out;
    text-align: center;
    width: 200px;
}

.skill:hover {
    transform: scale(0.95);
}

.skill-name {
    font-weight: bold;
    margin: 10px;
}

@keyframes animP {
    0% {
        transform: translateY(1px) scale(0.95);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: translateY(1px) scale(0.95);
    }
}

.skill-level {
    font-size: 24px;
    margin-bottom: 15px;
}

.progress-bar {
    width: 100px;
    height: 20px;
    background-color: #333;
    border-radius: 5px;
    margin: 0 auto;
}

.progress-bar-fill {
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
}

.active {
    color: black;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.about-img img {
    width: 20vw;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease;
}

.about-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 35px var(--main-color),
        0 0 45px var(--main-color);
}

.heading {
    font-size: 6rem;
    text-align: left;
}

.about-content {
    padding: 0 4rem;
}

.about-content h2 {
    text-align: center;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 3rem;
}

.about-content p {
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
}

/* Service Code */
.service h2 {
    text-align: center;
    margin-bottom: 5rem;
}

.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-container .service-box {
    /* height: 50vh; */
    flex: 1 1 30rem;
    background-color: var(--snd-bg-color);
    padding: 2rem 2rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid var(--bg-color);
    transition: 0.3s ease;
}

.service-container .service-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.service-box {
    font-size: 1.8rem;
    color: var(--main-color);
}

.service-box h3 {
    font-size: 2.6rem;
}

.service-box p {
    color: var(--text-color);
    font-size: 1.8rem;
    margin: 1rem 0 3rem;
}

/* Rating code */
.speciality {
    background: var(--snd-bg-color);

}

.speciality-box {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.speciality .heading {
    margin-bottom: 5rem;
}

.speciality-box .img {
    width: 15rem;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.speciality-iten {
    min-height: 450px;
    max-width: 450px;
    background: var(--bg-color);
    border: 0.3rem solid var(--bg-color);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 20px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--text-color);
    transition: 0.3s ease;
}

.speciality-iten:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.speciality-iten h2 {
    font-size: 3rem;
}

.speciality-iten p {
    font-size: 1.8rem;
    text-align: center;
}

.rating {
    color: gold;
    font-size: 2rem;
}

.stars {
    width: 1vw;
}

/* Projet code */

#projet {
    /* background: url(/imgs/desert.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
}

#projet .projet-container {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.projet-container img {
    width: 90%px;
    height: 100px;
}

.projet-container .left-projet, .right-projet {
    width: 100%;
    text-align: center;
}

.projet-container .left-projet {
    padding: 1vw 2vw 1vw 0.5vw;
}

.projet-container .right-projet {
    padding: 1vw 0.5vw 1vw 2vw;
}

.projet-container h2 {
    font-size: 2vw;
    color: var(--text-color);
    padding: 0 0 1vw 0;
    border-radius: 50%;
    border-bottom: 2px solid var(--main-color);
    transition: all 0.3s ease;
}

.projet-container a {
    color: rgb(44, 202, 150);
    font-weight: 700;
    font-size: 1.1vw;
    margin-bottom: 1%;
}

.projet-container a:hover {
    color: var(--main-color);
}

.projet-item {
    border-radius: 1vw;
    border: none;
    background-color: var(--snd-bg-color);
    /* display: flex;
    flex-direction: row; */
    width: 100%;
    height: 170px;
    transform: scale(1);
    /* border: 1px solid black; */
    transition: all 0.3s ease-out;
}

.projet-item:hover {
    border: 1px solid var(--main-color);
    transform: scale(1.01);
}

.projet-item:nth-child(odd) {
    padding: 1vw;
    margin: 0 0 3vw 0;
}

.projet-item:nth-child(even) {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8)50%, rgba(200, 254, 250, 0.8)50%), url(../imgs/backG.jpg);
    background-size: cover;
    padding: 1vw;
    padding: 1vw;
}

.comment-p p {
    width: 100%;
    align-items: center;
    font-size: 1.6rem;
    color: black;
    width: fit-content;
    padding-bottom: 2px;
}


/* Conatc and footer code */

::-webkit-input-placeholder {
    color: var(--main-color);
    color: gray;
    opacity: 0.7;
}

.contact {
    background-color: var(--snd-bg-color);
}

.contact .heading {
    text-align: center;
}

.contact h2 {
    margin-bottom:
        3rem;
    color: var(--main-color);
}

.contact form {
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    overflow-y: scroll;
    scrollbar-width: none;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 0.8rem;
    border: 0.25rem solid var(--main-color);
    margin: 0.7rem 0;
    resize: none;
}

.contact form .input-box input:hover {
    border: 0.25rem solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.contact form textarea:hover {
    border: 0.25rem solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.contact form .input-box input {
    width: 49%;
    margin: 0.7rem 0.35rem;
}

.contact form .btn {
    margin-top: 2rem;
}

/* Footer Code */

.footer {
    background: var(--bg-color);
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    /* background: var(--snd-bg-color); */
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social>a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}

.footer .social>a>svg {
    display: inline-flex;
    color: var(--main-color);
    width: 26px;
    height: 26px;
    transition: 0.3s ease;
}

.footer .social svg:hover {
    fill: var(--main-color);
}

.footer .copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

.return img {
    /* animation: backG 7s linear infinite;
    box-shadow: 0 0 25px var(--text-color);*/
    opacity: 0.6;
    transition: 0.5s;
    display: none;
    border: 2px solid var(--main-color);
    border-radius: 3vw;
    width: 3vw;
    float: right;
    margin-right: 1%;
    margin-bottom: 1%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: inherit;
}

/* Responsive Desing  */
@media(max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media(max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3%;
    }

    .service {
        padding: 7rem;
    }

    .speciality .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact form .input-box input {
        width: 100%;
    }

    .footer {
        padding: 2rem 3%;
    }

}

@media(max-width: 991px) {
    #menu-icon {
        display: block;
        background: var(--snd-bg-color);
        border-bottom-right-radius: 8px;
        border-top-left-radius: 8px;
    }

    #menu-ico:hover {
        background: var(--snd-bg-color);
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 160px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: var(--main-color);
        backdrop-filter: blur(10px);
        transition: all 0.5S linear;
        opacity: 0.8;
    }

    .navbar a {
        display: block;
        padding: 17px;
        font-size: 20px;
    }

    .navbar.active {
        right: 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content {
        order: 2;
        margin-left: 1rem;
    }

    .home-img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .service h2 {
        margin-bottom: 3rem;
    }
}

@media(max-width:617px) {
    .return img {
        width: 26px;
        height: auto;
    }

    #projet .projet-container {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .home-img img {
        width: 70vw;
        margin-top: 8rem;
    }

    .about-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}

@media(max-width:617px) {
    html {
        font-size: 50%;
    }
}

@keyframes backG {
    50% {
        background-color: var(--bg-color);
    }

    100% {
        background-color: var(--main-color);
    }

    /* 50% {
        background-color: var(--snd-bg-color);
    }

    100% {
        background-color: var(--text-color);
    }*/
}

.return img:hover {
    opacity: 1;
    background: var(--main-color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    width: 60px;
}