* {
    user-select: none;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: rgba(20, 17, 0, 1);
}

.title {
    text-align: center;
    font-weight: bold;
    padding: 1vw;
    font-size: 34px;
}

.titre {
    color: blue;
    text-transform: uppercase;
}

p {

    text-align: center;
    padding: 1vw;
}

.button {
    width: 100%;
    height: 1vw;
    padding: 1vw;
    text-align: center;
    margin-left: 43%;
    background: linear-gradient(45deg, #231d6e, #009688, #ffffff);
    text-decoration: none;
    border-radius: 2vw;
}

nav {
    padding: 0vw;
    width: 100%;
    top: 0;
    position: fixed;
}

ul {
    display: flex;
    list-style: none;
    padding: 0.5vw;
    width: 100%;
}

li a {
    color: white;
    transition: all 400ms ease;
    padding: 1vw;
    text-decoration: none;
    border-bottom: none;
}

li a:hover {
    text-decoration: none;
    padding: 1vw;
    border-bottom: 3px solid #00A79C;
    transform: scale(1.1);
}

ul {
    background: linear-gradient(45deg, #231d6e, #009688, #ffffff);
}

.imgs img {
    width: 10vw;
    float: left;
    opacity: 0.3;
    z-index: 1;
}